  services:
    db:
      image: postgres:15-alpine
      container_name: db
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: postgres
      volumes:
        - ./postgres/data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD", "pg_isready", "-U", "postgres", "-d", "postgres"]
        interval: 10s
        retries: 5
        start_period: 30s
        timeout: 10s
      ports:
        - "5435:5432"
    redis:
      image: redis:alpine
      container_name: redis
      ports:
        - "6379:6379"
      healthcheck:
        test: ["CMD", "redis-cli", "ping"]
        interval: 10s
        retries: 5
        start_period: 30s
        timeout: 10s

    locust:
      image: locustio/locust
      container_name: locust
      ports:
      - "8089:8089"
      volumes:
        - ./core/locust:/mnt/locust
      command: -f /mnt/locust/locustfile.py

    backend:
      build:
        context: .
        dockerfile: Dockerfile.dev
      container_name: backend
      depends_on:
        - db
        - redis
      environment:
        SQLALCHEMY_DATABASE_URL: postgresql://postgres:postgres@db:5432/postgres
        JWT_SECRET_KEY: 8as76j=8s65pa2#&fk%w7ifn(s6r#y+4-7(z@!@=rqp%a9&quo
        REDIS_URL: redis://redis:6379
      ports:
        - "8001:8001"
      command: bash -c 'fastapi dev --host 0.0.0.0 --port 8001'
      volumes:
        - ./core:/usr/src/core

    celery_worker:
      build:
        context: .
        dockerfile: Dockerfile.dev
      container_name: celery_worker
      depends_on:
        - db
        - redis
      environment:
        SQLALCHEMY_DATABASE_URL: postgresql://postgres:postgres@db:5432/postgres
        JWT_SECRET_KEY: 8as76j=8s65pa2#&fk%w7ifn(s6r#y+4-7(z@!@=rqp%a9&quo
        REDIS_URL: redis://redis:6379
      command: bash -c 'celery -A core.celery_conf worker --loglevel=info'
      volumes:
        - ./core:/usr/src/core

    celery_beat:
      build:
        context: .
        dockerfile: Dockerfile.dev
      container_name: celery_beat
      depends_on:
        - db
        - redis
      environment:
        SQLALCHEMY_DATABASE_URL: postgresql://postgres:postgres@db:5432/postgres
        JWT_SECRET_KEY: 8as76j=8s65pa2#&fk%w7ifn(s6r#y+4-7(z@!@=rqp%a9&quo
        REDIS_URL: redis://redis:6379
      command: bash -c 'celery -A core.celery_conf beat --loglevel=info'
      volumes:
        - ./core:/usr/src/core

    flower:
      image: mher/flower:0.9.7
      command: ['flower', '--broker=redis://redis:6379/3', '--port=5555']
      ports:
        - 5557:5555
      depends_on:
        - redis



