name: Expense Management Deployment

on:
  push:
    branches:
    - stage

jobs:
  darkube_build_expense-service_arasharash13130-expense-staging_hamravesh-c13:
    container:
      image: hamravesh/darkube-cli:v1.1
      options: --user root
    env:
      IMAGE_NAME: registry.hamdocker.ir/arasharash13130/expense-service
    runs-on: ubuntu-latest
    steps:
    - name: checkout commit
      uses: actions/checkout@v4
    - name: darkube-cli build & push
      run: |
        SHORT_SHA=${GITHUB_SHA:0:7}
        echo "Building with tag: $SHORT_SHA"
        darkube build --push \
          -t $IMAGE_NAME:$SHORT_SHA \
          -t $IMAGE_NAME:${GITHUB_REF_NAME} \
          --docker-auth-config ${{secrets.DOCKER_AUTH_CONFIG}} \
          --workdir . \
          --file ./Dockerfile.stage \
          --build-context .

  darkube_deploy_expense-service_arasharash13130-expense-staging_hamravesh-c13:
    container: hamravesh/darkube-cli:v1.1
    needs: darkube_build_expense-service_arasharash13130-expense-staging_hamravesh-c13
    runs-on: ubuntu-latest
    steps:
    - name: darkube-cli deploy
      run: |
        # محاسبه short SHA
        SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)
        echo "Deploying with tag: $SHORT_SHA"
        
        darkube deploy \
          --token ${{secrets.DEPLOY_TOKEN_EXPENSE_SERVICE_ARASHARASH13130_EXPENSE_STAGING_HAMRAVESH_C13}} \
          --app-id ${{secrets.APP_ID_EXPENSE_SERVICE_ARASHARASH13130_EXPENSE_STAGING_HAMRAVESH_C13}} \
          --image-tag $SHORT_SHA \
          --job-id ${{ github.run_id }}
